.tabBar {
    padding-top: 22px;
    display: flex;
    align-items: center;
}
.button {
    border: none;
    background-image: none;
    background: transparent;
    background-color: transparent;
    color: #97979B;
    margin-right: 20px;
    margin-bottom: -8px;
    outline: 0 none;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    border: 2px transparent;
}
.button:hover {
    cursor: pointer;
    color: #6534FF;
} 
.button.active {
    font-weight: 600;
    color: #050510;
    border-bottom: 2px solid #6534FF;
}
