@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

.search {
    padding-top: 16px;

    width: 76px;
    height: 28px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #050510;

}