.input:focus {
  outline: none;
  caret-color: #6534FF;
  font-size: 15px;
}

.superInput {
  padding-left: 10px;
  border: none;
  background-color: #F7F7F8;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #050510;
  flex: none;
  order: 0;
  flex-grow: 0;
}