.searchLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    margin-top: 18px;
    background-color: #F7F7F8;
    border-radius: 16px;
    padding-left: 16px;
    padding-right: 16px;
    height: 22px;
    gap: 10px;
}

.search {
    display: flex;
    align-items: center;
}