.searchLine {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    margin-top: 18px;
    background-color: #F7F7F8;
    border-radius: 16px;
    padding-left: 16px;
    padding-right: 16px;
    height: 22px;
}

.search {
    display: flex;
    align-items: center;
}

.searchIcon {
    color: #c3c3c6;
    width: 20px;
    height: 20px;
}

.sortIcon {
    cursor: pointer;
    color: #c3c3c6;
    width: 26px;
    height: 20px;
}

.sortIcon:hover {
    transform: scale(1.05);
    transition: 0.1s;
    color: #6534FF;
}

.contentModalWindow {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    width: 373px;
    height: 192px;
}

@media screen and (max-width: 420px) {
    .contentModalWindow {
        width: 280px;
        height: 144px;
    }
}

.sortModal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.empty {
    color: #FFFFFF;

}

.titleModal {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #050510;
}

@media screen and (max-width: 420px) {
    .titleModal {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
}

.closeModal {
    color: #cecece;
    width: 24px;
    height: 24px;
}

.closeModal:hover {
    color: #6334ffb4;
}